[Desktop Entry]
Version=1.0
Type=Application
Name=MoeList
Icon=moelist
Exec=usr/bin/moelist
Comment=Anime & Manga tracker
Categories=Network
Terminal=false
StartupWMClass=com-axiel7-moelist-MainKt
