[Desktop Entry]
Version=1.0
Type=Application
Name=MoeList
Icon=moelist
Exec=bin/moelist
Comment=Anime & Manga tracker
Categories=Internet
Terminal=false
StartupWMClass=moelist
